<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Buying Questions</title>
  <link rel="stylesheet" type="text/css" href="@{/css/questionlist.css}">
</head>
<body>
<h2>Buying Questions</h2>
<form action="#" th:object="${buyingquestions}" th:action="@{saveBuy}" method="post">

  <label for="cyberName">cyberName</label>
  <input type="text" id="cyberName" th:field="*{cyberName}" />
  <div style="clear: both; display: block; height: 10px;"></div>

  <label for="nowPrice">NowPrice</label>
  <input type="text" id="nowPrice" th:field="*{nowPrice}" />
  <div style="clear: both; display: block; height: 10px;"></div>

  <label for="newsStatus">NewsStatus</label>
  <select id="newsStatus" th:field="*{newsStatus}" class="form-control">
        <option value="Good">Good</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Bad">Bad</option>
  </select>


  <label for="supportPrice">SupportPrice</label>
  <input type="text" id="supportPrice" th:field="*{supportPrice}" />
  <div style="clear: both; display: block; height: 10px;"></div>
  <label for="rsiData">RsiData</label>
  <input type="text" id="rsiData" th:field="*{rsiData}" />
  <div style="clear: both; display: block; height: 10px;"></div>
  <label for="bollingerBandsPosition">BollingerBandsPosition</label>
  <select id="bollingerBandsPosition" th:field="*{bollingerBandsPosition}" />
        <option value="Up">Up</option>
        <option value="Middle">Middle</option>
        <option value="Down">Down</option>
  <div style="clear: both; display: block; height: 10px;"></div>

  <label for="dateTime">DateTime</label>
  <input type="datetime-local" id="dateTime" th:field="*{dateTime}" />
  <div style="clear: both; display: block; height: 10px;"></div>





  <input type="submit" value="Save"></input>
</form>
</body>
</html>
