<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Buying Questions</title>
  <link rel="stylesheet" type="text/css" href="../static/css/questionlist.css">
</head>
<body>
<h2>Buying Questions</h2>
<form action="/submit-buying-answers" th:object="${BuyingQuestion}" th:action="@{save}" method="post">
  <table>
    <thead>

    </thead>
    <tbody>
    <tr th:each="question : ${buyingQuestions}">
      <td class="question-cell">
        <div class="attribute">
          <span>Now Price:</span> <input type="text" placeholder="Now Price" th:name="'nowPrice_'+${question.buyId}">
        </div>
        <div class="attribute">
          <span>News Status:</span> <input type="text" placeholder="News Status" th:name="'newsStatus_'+${question.buyId}">
        </div>
        <div class="attribute">
          <span>Support Price:</span> <input type="text" placeholder="Support Price" th:name="'supportPrice_'+${question.buyId}">
        </div>
        <div class="attribute">
          <span>RSI Data:</span> <input type="text" placeholder="RSI Data" th:name="'rsiData_'+${question.buyId}">
        </div>
        <div class="attribute">
          <span>Bollinger Bands Position:</span> <input type="text" placeholder="Bollinger Bands Position" th:name="'bollingerBandsPosition_'+${question.buyId}">
        </div>
      </td>
      <td>
        <input type="datetime-local" th:name="'answer_'+${question.buyId}">
        <button type="button" onclick="submitForm()">Submit</button>
      </td>
    </tr>
</form>
</body>
</html>
