<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" />
  <title>Reset Password</title>
</head>
<body>
<h1>Reset Password</h1>
<form th:action="@{/reset_password/sendResetPasswordEmail}" method="post">
  <div>
    <label for="emailAddress">Email Address:</label>
    <input type="email" id="emailAddress" name="emailAddress" required autocomplete="email">
  </div>
  <div>
    <button type="submit">Send Reset Password Email</button>
  </div>
</form>

<form th:action="@{/reset_password/resetPassword}" method="post" th:if="${showResetForm}">
  <div>
    <label for="verificationCode">Verification Code:</label>
    <input type="text" id="verificationCode" name="verificationCode" required autocomplete="off">
  </div>
  <div>
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" required autocomplete="new-password">
  </div>
  <div>
    <button type="submit">Reset Password</button>
  </div>
</form>

<div th:if="${resetStatus}">
  <p>Password reset successfully!</p>
</div>

<div th:if="${!resetStatus && resetStatus != null}">
  <p>Failed to reset password!</p>
</div>

<script>
    function sendResetPasswordEmail() {
      var emailAddress = document.getElementById('emailAddress').value;
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/sendResetPasswordEmail?emailAddress=" + emailAddress, true);
      xhr.send();
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
          alert("Reset password email sent successfully!");
        } else if (xhr.readyState === 4 && xhr.status !== 200) {
          alert("Failed to send reset password email!");
        }
      };
    }

    function resetPassword() {
      var emailAddress = document.getElementById('emailAddress').value;
      var verificationCode = document.getElementById('verificationCode').value;
      var newPassword = document.getElementById('newPassword').value;
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/resetPassword?emailAddress=" + emailAddress + "&verificationCode=" + verificationCode + "&newPassword=" + newPassword, true);
      xhr.send();
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
          alert("Password reset successfully!");
        } else if (xhr.readyState === 4 && xhr.status !== 200) {
          alert("Failed to reset password!");
        }
      };
    }
  </script>
</body>
</html>
